# CDK asset staging directory
.cdk.staging
cdk.out
*.js
!jest.config.js
*.d.ts
node_modules

# Environment variables
.env
.env.*
# Compiled output
dist/

# IDE
.idea
.vscode
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
